@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display: 'Manrope', sans-serif;

    --color-primary: #13ec25;
    --color-primary-dark: #0ea319;
    --color-background-light: #f6f8f6;
    --color-background-dark: #102212;
    --color-forest: #1a3d24;
    --color-forest-light: #2a5a36;
}